header {
    flex-wrap: wrap;
    background-color: blue;
}

.project__inner {
    justify-content: center;
}

.project__image {
    max-width: 250px;
    max-height: 150px;
}

.project__link {
    left: 0;
    position: relative;
    font-size: 1em;
    width: 100px;
    height: 30px;
    opacity: 1;
}

.project__link_wrapper {
    display: flex;
    justify-content: space-around;
}